body {
    background-image: url("https://pbs.twimg.com/media/EE1lFI_XoAAoAci?format=jpg&name=large");
    background-size: cover;
}

.container{
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}

.container .check-button{
    color: white;
    
}
