<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="title-login">
        <h1>Login</h1>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
    <div class="container-login">
        <form action="{{ url_for('admin_login') }}" method="POST">
            <input type="text" id="username" name="username" required><br><br>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Login">
        </form>
    </div>
    <div class="home-button">
        <button><a href="/">Home</a></button>
    </div>

    
    
</body>
</html>
