<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='background.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul>
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/financial_details/{{ ticker_symbol }}" class="nav-link">Financial Details</a></li>
                <li><a href="/holding_details/{{ ticker_symbol }}" class="nav-link">Holding Details</a></li>
                <li><a href="/recommendations/{{ ticker_symbol }}" class="nav-link">Analyst Sentiment</a></li>
                <li><a href="/pricing_data/{{ ticker_symbol }}"class="nav-link">Price Targets</a></li>
                <li><a href="/bored/" class="nav-link">Bored?</a></li>
            </ul>
        </div>
    </nav>
    <h1>Recommendations</h1>
    <h2>Recommendations Summary</h2>
    {{ recommendations_summary | safe }}

    <h2>Recommendations Details</h2>
    {{ recommendations | safe }}

    <h2>Upgrades and Downgrades</h2>
    {{ upgrades_downgrades | safe }}
</body>
</html>
